body {
  margin: 0; padding: 0;
  width: 100%; height: 100%;
}

#c {
  width: 100vw; height: 100vh;
  display: block;
  background: url(https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=726&q=80) no-repeat center center ;
  background-size: cover;
}
